@import "./variable";

// Header Section
.btn-create-account {
  color: $COLOR__WHITE;
  text-transform: uppercase;
  border: 1px solid $COLOR__WHITE;
  display: inline-block;
  color: $COLOR__WHITE;
  padding: 1rem 2.5rem;
  border-radius: 2.4rem;

  a {
    font-size: 2rem;
  }
}

.ham-menu {
  border: 1px solid$COLOR__WHITE;
  border-radius: 100%;
  padding: 1.5rem;
}

.logo__header {
  font-size: 5rem;
  font-weight: 700;
  font-family: "Cantarell", sans-serif !important;
  color: white;
  text-decoration: underline;
}

.logo__header-2 {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Cantarell", sans-serif !important;
  color: white;
}

// Hero Section

.hero__image {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

// Feature and Services Section
.feature-btn {
  display: inline-block;
  background-color: $COLOR__YELLOW-ORANGE;
  padding: 1rem 4rem;
  border-radius: 2.4rem;
}

.feature-content__image {
  display: flex;
  justify-content: center;
}

.feature-content {
  background: #ffffff;
  box-shadow: 0px 2.4rem 7.2rem rgba(0, 0, 0, 0.04);
  border-radius: 2.4rem;

  margin: 0 auto;
}

.services-menu {
  display: flex;
  justify-content: center;
  background: $COLOR__WHITE;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.04);
  border-radius: 24px;
  margin-bottom: -1rem;
  border-radius: 2.4rem;
  padding: 1.7rem 2rem;
  width: 100%;
  max-width: 37.5rem;
  margin: 0 auto;
  a {
    color: $COLOR__SECONDARY;
    font-weight: 700;
    font-size: 1.6rem;
  }

  li:nth-child(2) {
    margin: 0 auto;
    padding: 0 3rem;
    border-left: 1px solid #f5f6fb;
    border-right: 1px solid #f5f6fb;
  }
}

.feature__main-image {
  width: 100%;
}

.shadow {
  box-shadow: 0px 2.4rem 7.2rem rgba(0, 0, 0, 0.04);
  border-radius: 0.3rem;
}
// Credit Card

.credit-card-item {
  font-size: 5.6rem;
  color: $COLOR__WHITE;
}

// about

.btn-about a {
  color: $COLOR__PRIMARY;
}

.about-icon-border {
  background: $COLOR__WHITE;
  box-shadow: 0rem 2.6rem 5rem rgba(0, 0, 0, 0.04);
  border-radius: 2.4rem;
  padding: 3rem 4rem;
}

// testimonials

#testimonials {
  svg {
    margin-right: 0.5rem;
  }

  a {
    color: $COLOR__PRIMARY;
    font-weight: 700;
  }
}

// Insights

#insights {
  a {
    color: $COLOR__PRIMARY;
    font-weight: 700;
  }

  .card-group {
    margin: 0 auto;
  }

  input {
    font-size: 1.6rem;
    padding: 1.2rem 2rem;
    border: 1px solid rgba(218, 218, 218, 1);
    border-radius: 2.4rem;
    width: 100%;
  }

  .btn-subscribe {
    width: 100%;
    display: inline-block;
    border: 1px solid #3a61f0;
    padding: 1rem 3rem;
    border-radius: 2.4rem;
  }
}

// footer
#footer {
  .footer__logo {
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.8rem;
    color: $COLOR__WHITE;
    text-align: center;
  }

  .copyright-span {
    border-top: 1px solid rgba(255, 255, 255, 0.161798);
    padding-top: 4rem;
  }

  ul li:first-child {
    text-transform: uppercase;
    margin-bottom: 3rem;
    a {
      color: $COLOR__YELLOW-ORANGE;
    }
  }

  ul li:not(:last-child :first-child) {
    margin-bottom: 1rem;
  }
}
.social-icons a {
  color: $COLOR__WHITE;
}
